.calender {
    display: flex;
    flex-direction: column;
    flex-shrink: inherit;
    width: 100%;
}

#holiday {
    color: red;
    font-size: 1rem;
}

#date-container {
    padding: 0.2rem;
    display: flex;
    flex-wrap: wrap;
}

#date-container div {
    width: calc(100%/7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#date-container div:hover {
    background-color: #8a89af9f;
    border-radius: 0.5rem;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.month {
    padding: 1rem;
    display: flex;
    align-items: center;
    background-color: #7978a0;
    border-radius:10px;
}

#current-month {font-family: 'Fuzzy Bubbles', cursive;}

.material-icons {font-size: 3rem;}

#weekdays {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;  
}

#weekdays div {
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 1.5rem;
    width: calc(100%/7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}

#prev-button, #next-button {cursor:pointer;}

#items-day {
    color: black;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: whitesmoke;
    border-radius: 20%;
    height: 1.5rem;
    font-size: 1rem;
    padding: 0.1rem;   
}

#day-container {
    position: relative;
    height: 5rem;
    font-size: 1.5rem;
}